* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(94, 0, 0);
}

/* Nav bar */
.flex {
  display: flex;
}

.bigger {
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  padding: 1em;
  margin: 0.5em 0;
}

nav {
  background-color: lightgoldenrodyellow;
  margin: 0 auto;
  padding: 1em;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
  border-radius: 30px;
  color: rgb(94, 0, 0);
  cursor: pointer;
}

a:not(#shop) {
  padding: 1.1em 1em;
}

.golden {
  background-color: rgb(249, 216, 105);
}

.flex.bigger.golden {
  border-radius: 50px;
  justify-content: space-between;
  align-items: center;
  column-gap: 1em;
  cursor: pointer;
}

#logo {
  width: 50px;
}

#shop {
  padding: 0;
}

h1 {
  font-size: 3em;
  margin: 0.5em 0 0.5em 1em;
}

.bold {
  font-weight: bold;
}
.not-bold {
  font-weight: 100;
}

@media screen and (max-width: 425px) {
  body {
    text-align: center;
  }

  nav {
    border-radius: 100px;
    flex-wrap: wrap;
    row-gap: 20px;
    text-align: center;
    margin: 1em;
    padding: 2em;
  }

  .flex.bigger.golden {
    order: -1;
    width: 100%;
    justify-content: center;
    margin: 0;
  }

  a:not(#shop) {
    width: 45%;
  }

  h1 {
    margin-left: 0;
  }
}

@media screen and (min-width: 1024px) {
  body {
    display: flex;
    justify-content: space-around;
  }

  nav {
    position: sticky;
    top: 0;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
  }

  .flex.bigger.golden {
    order: -1;
    margin: unset;
    margin-top: 0.5em;
  }

  #shop {
    cursor: pointer;
  }

  a:not(#shop) {
    text-align: center;
    padding: 32px;
    border-radius: 50px;
    cursor: pointer;
  }
}

/* Card */

#card-container {
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.card {
  width: 40%;
  text-align: center;
  background-color: lightgoldenrodyellow;
  border-radius: 50% 50% 75px 75px;
}
.card img {
  width: 100%;
  object-fit: cover;
  border-radius: 75px 75px 0 0;
  margin-bottom: 0.5em;
}

.specifics {
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}

.price {
  font-size: 1.2em;
}

button.golden {
  padding: 1em 3em;
  margin-bottom: 1em;
  border: none;
  border-radius: 50px;
  color: rgb(94, 0, 0);
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  #card-container {
    flex-direction: column;
    padding: 1em;
  }

  .card {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  #card-container {
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 20px;
  }

  h1 {
    margin: 0.5em 0.3em;
  }

  .card {
    flex-shrink: 1;
    border-radius: 50% 50% 50px 50px;
  }

  .card img {
    border-radius: 50px 50px 0 0;
  }

  .card p {
    font-size: 0.7em;
  }

  button.golden {
    padding: 1em 2em;
  }
}

/* article */

article {
  background-color: lightgoldenrodyellow;
  padding: 2em;
  width: 90vw;
  margin: 0 auto;
  border-radius: 50px;
  gap: 1em;
  flex-wrap: wrap;
}

article img {
  width: 50%;
}

article div {
  flex-direction: column;
}

article h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

@media screen and (max-width: 425px) {
  article {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  article h3 {
    font-size: 1em;
  }
  article p {
    font-size: 0.9em;
    line-height: 1.5em;
    margin-bottom: 1em;
  }
  article img {
    order: 1;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  main {
    margin: 0 auto 0 auto;
    width: 70vw;
  }

  article {
    width: 100%;
  }

  article img {
    order: 1;
    width: 100%;
  }
  article div {
    order: 0;
  }
}

@media screen and (min-width: 1440px) {
  article {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  article img {
    order: 0;
    width: 50%;
  }

  article div {
    width: 50%;
  }
}
